body {
    font-family: monospace, monaco;
}

.grand_container {
    margin:auto;
    max-width: 1080px;
    min-width: 221px;
}

/* for some reason, the article has to be this tall or else the menu jumps around when you click from home page to other pages.  ¯\_(ツ)_/¯  */

.article {
    min-height: 1300px;
    
}


img {
    width: 100%;
}

a {
    color: black;
}
.menu a:hover {
    color:white;
    background-color:black;
}
.menu a:active {
    color:white;
    background-color:black;
}


/* stuff regarding the menu >>>>> */

.menu {
    cursor:move;
    z-index: 1001;
    padding:5px;
    background:white;
    border: solid 2px black;
    float:left;
    position: fixed;
    width: 300px;
    overflow: hidden;
}

ul {padding-left: 20px;}

li {
    list-style-type: circle;
}

.active {
    list-style-type: disc;
}


/* 
NOTES ON THE SHOW HIDE BUTTONS

-the show hide buttons are rigged up with jquery
-if the page is loaded while in desktop mode, they don't show up.
-if the page is loaded while in tablet mode, the menu is collapsed and the show button is visible
-if the page is sized up from tablet to desktop, the show and hide buttons are still visible; a weird feature but kinda cool

*/
.show {
    display:none;
    cursor: pointer;
}
.hide {
    display:none;
    cursor: pointer;
}

/* <<<<< stuff regarding the menu */


.grab {
    cursor:move;
    background:white;
    z-index: 1000;
    position: fixed;
    border:2px solid black;
    width:300px;
    height:300px;
    overflow: hidden;
}

/* the daario naharis class is the floaty grabby text boxes */

#daario-naharis {
    background: white;
    height: auto;
    padding:5px;
    width:300px;
}

.x {
    text-align: center;
    border-bottom:2px solid black;
    border-left:2px solid black;
    width:20px;
    height:19px;
    position: absolute;
    right:0px;
    top:0px;
    cursor: pointer;
    background: white
}

.view {
    text-align: center;
    border-bottom:2px solid black;
    border-left:2px solid black;
    width:50px;
    height:19px;
    position: absolute;
    right:20px;
    top:0px;
    cursor: pointer;
    background: white
}
    
#bike-build-card {
    width:377.5px;
    height:250.5px;
}

#transitions-card {
    width:351px;
    height:250px;
}

#website-sketches-card {
    width:378.5px;
    height:300.5px;
}

#gig-posters-card {
    width:300;
    height:388px;
}

#kunsthaus-bregenz-card {
    width:314px;
    height:300px;
}

/* stuff regarding the articles >>>>> */

/* the gutter between the menu and the article is equal to the article's margin-left minus the width of the menu */

.article {
    margin-left: 350px;
    max-width: 1080px;
}

.article img {
    margin-top:15px;
    margin-bottom:15px;
}

.grab img {
    display: block;
    padding: 0;
    margin: 0;
    zoom:50%;
}

.footer {
    z-index: 10000;
    position: fixed;
    bottom:5px;
    left:5px;
}

.small-gif {
    width:230px;
}

/* <<<<< stuff regarding the articles */

/********************************************************************


MEDIA QUERIES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


********************************************************************/


/* this is for a landscape ipad or less */
@media screen and (max-width: 1024px) {
    
    /* the menu gets a background, stretches accross top of the screen and gains the ability to be collapsed*/
    .menu {
        width:auto;
        float:none;
        position:fixed;
        margin-right:8px;
        height:72px;
    }
    
    .menu ul {
        float:left;
        display:inline-block;
        width:300px;
    }
    
    /* this makes the article snug against the left of screen. and it needs the padding so that content is not lost behind the menu */
    .article {
        padding-top: 100px;
        margin-left: 0px;
    }
    
    /* shoots the show button to the right side, it needs the padding to defend against scroll bars */
    .show {
        text-align: right;
        padding-right:20px;
        display: block;
    }
    
    /* same as .show */
    .hide {
        padding-right:20px;
        text-align: right;
        display: block;
    }

    /* we lose the description, for that sleek look */
    #description {
        display:none;
    }
}























