body {
    font-family: monospace, monaco;
}

.grand_container {
    margin:auto;
    max-width: 1080px;
    min-width: 221px;
}

/* for some reason, the article has to be this tall or else the menu jumps around when you click from home page to other pages.  ¯\_(ツ)_/¯  */

.article {
    min-height: 1300px;
    
}


img {
    width: 100%;
}

a {
    color: black;
}
.menu a:hover {
    color:white;
    background-color:black;
}
.menu a:active {
    color:white;
    background-color:black;
}

.button:hover{
    color:white;
    background-color:black;
    cursor:pointer;
}

.button:active{
    color:white;
    background-color:black;
}

/* stuff regarding the menu >>>>> */

.menu {
    height:auto;
    z-index: 1001;
    padding:10px;
    padding-bottom: 0px;
    background:white;
    border: solid 3px black;
    float:left;
    position: fixed;
    overflow: hidden;
}

.menuMobile {
    display:none;
    width:auto;
    left:8px;
    right:8px;
}

.menuDesk {
    top:8px;
    width:280px;
    display:none;
    cursor:move;
    height:auto;
}

.drawingBtn {
    bottom:10px;
    height:20px;
    width:270px;
    display: inline;
    background: white;
    padding:5px;
    margin-left:300px;
    text-decoration: underline;
}

ul {padding-left: 20px;}

li {
    list-style-type: circle;
}

.active {
    list-style-type: disc;
}


/* 
NOTES ON THE SHOW HIDE BUTTONS

-the show hide buttons are rigged up with jquery
-if the page is loaded while in desktop mode, they don't show up.
-if the page is loaded while in tablet mode, the menu is collapsed and the show button is visible
-if the page is sized up from tablet to desktop, the show and hide buttons are still visible; a weird feature but kinda cool

*/

.show {
    position: static;
    text-align: center;
    cursor: pointer;
}
.hide {
    text-align: center;
    cursor: pointer;
    position: static;
}

/* <<<<< stuff regarding the menu */


.grab {
    cursor:move;
    background:white;
    z-index: 1000;
    position: fixed;
    border:3px solid black;
    width:300px;
    height:300px;
    overflow: hidden;
}

/* the daario naharis class is the floaty grabby text boxes */

#daario-naharis {
    display: inline;
    background: white;
    height: auto;
    padding:5px;
    width:300px;
}

.x {
    text-align: center;
    border-bottom:2px solid black;
    border-left:2px solid black;
    width:20px;
    height:19px;
    position: absolute;
    right:0px;
    top:0px;
    cursor: pointer;
    background: white
}

.view {
    text-align: center;
    border-bottom:2px solid black;
    border-left:2px solid black;
    width:50px;
    height:19px;
    position: absolute;
    right:20px;
    top:0px;
    cursor: pointer;
    background: white
}

#kunsthaus-bregenz-card {
    width:314px;
    height:300px;
}

#website-sketches-card {
    width:378.5px;
    height:300.5px;
}

/* stuff regarding the articles >>>>> */

/* the gutter between the menu and the article is equal to the article's margin-left minus the width of the menu */

.article {
}

.article img {
    margin-top:15px;
    margin-bottom:15px;
}

.grab img {
    display: block;
    padding: 0;
    margin: 0;
    zoom:50%;
}

.footer {
    z-index: 10000;
    position: fixed;
    bottom:5px;
    left:5px;
}

.small-img {
	width:30%;
    text-align: center;
    display:inline-block;
    position:relative;
    padding: 0;
}

.small-gif {
	display: inline-block;
}

.threeWide {
	width:32%;
}	

.threeWideContainer {
		display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	justify-content: space-between;
}

#instafeed {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	justify-content: space-between;
}

.oneWide {
	width:100%;
	display: inline-block;
}

.blurb {
	background-color:#f1f1f1;
	padding:10px;
}

.article {
	text-align: justify;
}

.article:after {
	width:100%;
}

.mouseoverTitle {
    display:none;
    color:white;
    background-color:black;
    width:100%;
    float: left;
    position:absolute;
    top:40%;
    padding-top:10%;
    padding-bottom:10%;
}

.collapse {
        display:none;
    }

/* <<<<< stuff regarding the articles */

/********************************************************************


MEDIA QUERIES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


********************************************************************/


/* this is for a portrait ipad or less (landscape is 1024)*/
@media screen and (max-width: 782px) {
    
    .drawingBtn {
        display:none;
    }
    
    /* the menu gets a background, stretches accross top of the screen and gains the ability to be collapsed*/
    
    .menu ul {
        text-align: left;
        float:left;
        display:inline-block;
        width:300px;
    }
    
    /* this makes the article snug against the left of screen. and it needs the padding so that content is not lost behind the menu */
    .article {
        padding-top: 100px;
        margin-left: 0px;
    }
	
	.threeWide {
		width:30%;
	}	
    
    
}
    
    /*  */
    .show {
        width:100%;
        clear:both;
    }
    
    /* same as .show */
    .hide {
        width:100%;
        clear:both;
    }
























